* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}
 

#main{
    height: 100%;
    width: 100%;
   
}

#header{
    width: 100%;
    height: 15%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around ;
}

#fakeheader{
    width: 100%;
    height: 15%;
    background-color: yellow;
}

#page1{
    width: 100%;
    height: 85%;
    background-color: white;
}
#page2{
    width: 100%;
    height: 85%;
    background-color: rgb(241, 248, 254);
}



.texts{
    font-size: 20px;
    color: rgb(1, 43, 95);
    margin: 20px;
}

.texts:hover{
    color: rgb(1, 118, 211);
}

#contactdetails{
    margin-left: 45px;
    font-weight: lighter;
    
}

#contactdetails:hover{
    color: rgb(1, 118, 211) ;
}


#logo{
    height: 70%;
    /* margin: 25px; */
}
 

#logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#moreid{
    display: flex;
}

.icon{
    /* margin-left: 20px; */
    padding: 10px;
    border-radius: 50%;

}

.icon:hover{
    background-color: rgb(234, 245, 254);
    color:rgb(1, 118, 211);
}

#login:hover{
    background-color: rgb(234, 245, 254);
    color:rgb(1, 118, 211);
}

#login{
    /* margin-left: 20px; */
    display: flex;
    border-radius: 50px;
    padding: 10px;

}


#try{
    /* margin-left: 30px; */ 
    background-color: rgb(59, 144, 83);
    padding: 10px 20px;
    border-radius: 12px;
    color: white;
    font-weight:300;
}

#try:hover{
    background-color: darkgreen;
}

#strip{
    width: 100%;
    height: 8%;
    background-color: rgb(20, 0, 117);
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: var(--pbc-g-font-display);
    font-weight: bold;
    font-size: larger;
}

 

#striplogo{
    width: 160px;
    height: 30px;
    object-fit:fill;
    margin-right: 20px;
}

#stripdiscover{
    margin-left: 10px;
    font-size: large;
}

#stripdiscover u:hover{
    text-decoration: none;
}

#content{
    width: 100%;
    height: 76%;
    display: flex;
    /* background-color: wheat; */
    align-items: center;
    justify-content: space-around;
}

#heading{
    color: rgb(1, 43, 95);
    width: 100%;
    height: 16%;
    background-color: white;
    font-size:x-large;
    font-weight:lighter;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1 h1{
    color: rgb(1, 43, 95);
    font-size: 50px; 
    font-family: "ITC Avant Garde", system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 56px;
    margin: 30px 10px;
    line-height: 1.3;
    margin-left: 60px;
}

#box1 p{
    font-family: "Salesforce Sans", system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: x-large;
    margin: 10px; 
    margin-left: 60px;
}

#btns{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn1{
    padding: 10px 20px;
    color: white;
    background-color: rgb(1, 118, 211);
    width: 22%;
    margin: 10px;
    border-radius: 4px;
    text-align: center;
}

#btn1:hover{
    background-color: rgb(1, 43, 95) ;
}

#btn2{
    width: 22%;
    padding: 10px 20px;
    color: rgb(1, 118, 211);
    background-color: white(1, 118, 211);
    border: 1px solid rgb(1, 118, 211);
    border-radius: 4px;
    text-align: center;
}

#btn2:hover{
    background-color: rgb(234, 245, 254);
    color: rgb(1, 43, 95);
    border: 1px solid rgb(1, 43, 95); 
}

 
#box1{
    background-color: white;
    height: 90%;
    width: 47%;
    
}

#box2{
    height: 90%;
    width: 47%;
    background-color: grey;
    background-image: url('https://wp.sfdcdigital.com/en-ap/wp-content/uploads/sites/14/2024/02/php-marquee-starter-lg-bg.jpg?resize=2048,640');
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    display: flex;
    align-items: center;
    justify-content: center;

}


#box2 iframe{
    width: 79%;
    height: 75%;
    border-radius: 15px;
    
}


#page2{
    display: flex;
    justify-content: center;
    align-items: center;

}

#page2box1{
    background-color: white;
    background-image: url(https://wp.sfdcdigital.com/en-in/wp-content/uploads/sites/21/2023/03/pb-hp-product-smb_icon-1.jpg?resize=768,433);
    /* text-align: center; */
    /* display: flex;
    margin-left: 10px;
    justify-content:center;
    align-items: center; */
    
}
#page2box2{
    background-color: white;
    background-image: url(https://wp.sfdcdigital.com/en-in/wp-content/uploads/sites/21/2023/03/pb-hp-product-smb_icon-1.jpg?resize=768,433);
    /* text-align: center; */
    /* display: flex;
    margin-left: 10px;
    justify-content:center;
    align-items: center; */
    
}

.boxcontenth2{
    margin-top: 60px;
    display: flex;

}

.boxcontenth2:hover{
    color: rgb(1, 118, 211);
}

.boxcontent p{
    margin-top: 22px;
    font-family: "Salesforce Sans", Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 25px;
        
}

.underline{
    /* padding-top: 50px; */
    /* margin-top: 30px; */
    /* display: flex; */
    align-items: center;
    justify-content:left;
    font-weight: bold;
}

 

 

#page2box2{
    background-color: white;
    background-image: url(https://wp.sfdcdigital.com/en-in/wp-content/uploads/sites/21/2023/03/pb-hp-product-smb_icon-2.jpg?resize=768,433);
     
    
}
 

.buttons{
    border: none;
    background-color: white;
    margin-top: 40px;
    color: rgb(1, 43, 95);
    font-weight: bolder;
    font-size: large;
    border-bottom: solid rgb(1,43,95) 2px;
}

button:hover{
    border-bottom: none;
    /* color: red; */
}

#page2box3{
    background-color: white;
    background-image: url(https://wp.sfdcdigital.com/en-in/wp-content/uploads/sites/21/2023/03/pb-hp-product-smb_icon-3.jpg?resize=768,433);

    
}
#page2box4{
    background-color: white;
    background-image: url(https://wp.sfdcdigital.com/en-in/wp-content/uploads/sites/21/2023/03/pb-hp-product-smb_icon-4.jpg?resize=768,433);
}

.page2box{
    height: 70%;
    width: 20%;
    margin-right: 40px;
    border-radius: 20px;
    background-position:top;
    background-repeat: no-repeat;
    background-size: 300px ;
    color: rgb(1, 43, 95);
    display: flex;
    margin-left: 10px;
    justify-content:center;
    align-items: center;
}


#page3{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:end;
    background-color: white;

}


#page3bg{
    width: 100%;
    height: 100%;
    background-image: url(https://wp.sfdcdigital.com/en-in/wp-content/uploads/sites/21/2023/03/pb-hp-products-bg.png?resize=2048,625);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-size: auto; */
    margin-bottom: 30px;

}

#page3content{
    margin-top:40px;
    margin-bottom: 40px;
    margin-left: 150px;
    text-align: center;
    width: 80%;
    color: rgb(1, 43, 95);
    font-size: x-large;
    justify-content: center;
    align-items: center;
}

#page3content p{
    line-height: 1.7;
    font-size: large;
    color: black;
    margin-top: 20px;
    font-family: "Salesforce Sans", system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#page3box{
    width: 100%;
    display: flex;
    height: 25%;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#page3box1{
    height: 85%;
    width: 12%;
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgb(1, 118, 211);
    color: white;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: "Salesforce Sans", system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: large;
    font-weight: 12px;
    margin-bottom: 10px;
}
#page3box2{
    height: 85%;
    width: 12%;
    background-color: rgb(255, 255, 255);
    border: solid rgb(1, 118, 211) 2px;
    border-radius: 8px;
    color: rgb(1, 118, 211);
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: "Salesforce Sans", system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: large;
    font-weight: 12px;
    margin-bottom: 10px;

}

#page3box2:hover{
    border-color: rgb(1, 43, 95);
    color: rgb(1, 43, 95);
}

#page3box1:hover{
    background-color: rgb(1, 43, 95);
}



/* page 4 */

#page4{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#page4heading{
    height: 30%;
    text-align: center;
}

#page4boxes{
    background-color: white;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.page4box{
    border-radius: 15px;
    margin-bottom: 12px;
}

#page4heading h1{
    font-weight: bold;
    font-size: 45px;
    color: rgb(1, 43, 95);
    font-family: "Salesforce Sans", system-ui, -apple-system, blinkmacsystemfon;
    padding: 8px;
}

#page4heading p{
    color: black;
    font-size: 20px;
    font-weight:normal;
}


.page4box{
    background-color: white;
    width: 26%;
    height: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#p4box1logo{
    background-image: url(https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/modules/salesforce-quick-look-1/259d8619519bb3912ef0100cee5071cc_badge.png);
    width: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 35%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
}
#p4box2logo{
    background-image: url(https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/modules/lex_implementation_basics/56b5a2cb9fb731dbfe6b5b88cd855775_badge.png);
    width: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 35%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
}
#p4box3logo{
    background-image: url(https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/modules/sales-cloud-platform-quick-look/b91b2499486a772a4eee8ce55aa32b57_badge.png);
    width: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 35%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
}

#module{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: white;
}

#module button{
    background-color: rgb(210, 237, 255);
    border-radius: 50px;
    width: 80px;
    height: 40px;
    color: rgb(1, 43, 95);
    font-weight: bold;
    margin-left: 15px;
    border: none;
}

#p4box1content{
    height: 65%;
    background-color: white;
}


#p4box1contentheading{
    background-color: white;
    height: 70%;
    margin-left: 20px;
}

#p4box1contentheading h2{
    margin-bottom: 20px;
    color: rgb(1, 43, 95);
}

#p4box1contentheading p{
    color: rgb(1,43,95);
    line-height: 25px;
    font-size: large;
}

#startlearning button{
     background-color: white;
    margin-left: 20px;
    border: none;
    color: rgb(1, 43, 95);
    font-size: medium;
    text-decoration: underline;
    font-weight: bold;
}

#startlearning button:hover{
    text-decoration: none;
}
